<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="f.lux" />
	  <package id="slack" />
	  <package id="7zip" />
	  <package id="putty" />
	  <package id="curl" />
	  <package id="windirstat" />
	  <package id="WinPcap" />
	  <package id="wireshark" />
	  <package id="filezilla" />
	  <package id="git" packageParameters="/WindowsTerminal"/>
	  <package id="tortoisesvn" />
	  <package id="jre8" />
	  <package id="notepadplusplus" />
	  <package id="openssl.light" />
	  <package id="postman" />
	  <package id="python3" />
	  <package id="windirstat" />
	  <package id="winscp" />
	  <package id="visualstudiocode" />
	  <package id="docker-desktop" />
	  <package id="minishift" />
	  <package id="openshift-cli" />
	  <package id="beyondcompare" />
	  <package id="azure-cli" />
	  <package id="kubernetes-helm" />
	  <package id="keystore-explorer.portable" />
	  <package id="github-desktop" />
	  <package id="keepass" />
	  <package id="rocketchat" version="2.14.7"/>
	  <package id="dbeaver" />
  </packages>
